node_modules
.git
.gitignore
.env
.env.*
!.env.example
*.md
*.log
npm-debug.log*
dist
dist-ssr
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
*.tmp
*.temp
*.dockerignore
Dockerfile
docker-compose*.yml
